html {
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
}

body {
    background-color: paleturquoise;
    height: 100%;
}

#balk {
    background-color: whitesmoke;
    width:100%;
    height: 30%;
    }

#container {
    background-color: paleturquoise;
    width: 100%;
    height: 70%;
    display: flex;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: burlywood;
  position: sticky;
}

#menu ul {
    background-color: red;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white ;
}

#menu {
    background-color: blue;
    width: 25%;
    height: 70%;
    }
.jongstejeugd {

#berichten {
     background-color: grey;
     width: 50%;
     height: 70%;
    }
#plaatjes {
    background-color: royalblue;
    width: 25%;
    height: 70%;
    }