html {
    height: 100%;
}

body {
    background-color: blueviolet;
}
    </div>
#balk {
    width:80%;
    height: 20%;
    }
#container {
    background-color: yellow;
    width: 80%;
    height: 75%;
    display: flex;
}
#menu {
    width: 15%;
    height: 100%;
    }
    #berichten {
    width: 60%;
    height: 100%;
    }
    #plaatjes {
    width: 25%;
    height: 100%;
    }